.container{
  min-height: 100vh;
}

.my-2 {
  margin: auto;
  width: 80%;
}

.card-header {
  display: flex;
  justify-content: space-between;
}

.card-header-start {
  background-color: #004643;
  border-radius: 100%;
  color: yellow;
}

.favorite-button {
  border: none;
  background-color: none;
}

.footer-card {
  display: flex;
  flex-wrap: wrap;
}

.footer-author {
  margin-left: 16px;
}