.search-container {
  background-color: #f2f7f5;
  height: 100vh;
}

.input-container {
  display: flex;
  margin: auto;
  margin-top: 2%;
  width: 50%;
}

.button-search {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin-left: 16px;
}

.button-icon {
  margin-left: 8px;
}

.cards-container {
  background-color: #f2f7f5;
  padding-top: 48px;
  padding-bottom: 48px;
}

.pagination-container {
  background-color: #f2f7f5;
  display: flex;
  justify-content: center;
}

.button-pagination {
  background-color: #004643;
  margin-left: 16px;
  margin-bottom: 48px;
}
